<%= form_with scope: :session, local: true do |f|%>
  <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
  </div>
    <%= f.text_field :email %>
    <%= f.password_field :password %>

    <%= f.submit 'ログイン'%>
<% end %>