<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag('ec-header.png', class:"ec-icon"), "/" %>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
    <div class = 'lists-right'>
      <%= link_to '注文履歴', "/", class:"history" %>
      <%= link_to image_tag('cart-icon.png', class:"cart-icon"), "/" %>
      <ul class='user-list'>
       <li>
        <span><%= image_tag('user-icon.png', class:"user-icon") %></span>
         <ul>
         <% if current_user %>
          <li><%= link_to current_user.first_name, "#", class: "user-nickname" %></li> 
          <li><%= link_to 'ログアウト', logout_path, method: :delete, class: "logout" %></li> 
          <% if current_user.admin? %>
            <li><%= link_to '管理ページ', admin_users_path, class:"admin-link"%></li>
          <% else %>
         <% end %>
         <% else %>
          <li><%= link_to 'ログイン', login_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_path, class: "sign-up" %></li>
         <% end %>
         </ul>
        </li>
      </ul>
      </div>

  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>
      
    </ul>
  </div>
</header>